body{
    margin: 0;
    margin-top: 35px;
    margin-left: 15px;
    overflow: hidden;
}
.tick text {
    font-size: 24px;
}

.y-axis-label{
font-size: 35px;
}

.x-axis-label{
    font-size: 35px;
}

.menu-container-y{
    position: fixed;
    top: 45;
    left: 20;
    display: flex;
    justify-content: space-around;
}

.menu-container-x{
    position: fixed;
    top: 700;
    left: 1190;
    display: flex;
    justify-content: space-around;
}

/* .menu-container-examname{}

.menu-container-examyear{}

.menu-container-charttype{} */